<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ruby Triangle-Tracker</title>
  </head>
  <body>
    <h2>Triangle Form</h2>
    <form class="">
      <input type="number">
    </form>
  </body>
</html>
